<pre>
(This is an excerpt from the projects README.md)
    
#############
# Project-4 #
#############    
  
RFM Clustering Overview  
=======================
    Overview of RFM Metrics  
    -----------------------
        • Recency: The number of days since the customer's last purchase. Lower values indicate more recent activity.  
        • Frequency: The number of purchases made by the customer. Higher values indicate more frequent purchases.   
        • Monetary: The total amount spent by the customer. Higher values indicate higher spending.  
  
Cluster Interpretation  
======================
    Cluster 0:  
    ----------
        • Average Recency: ~43 days  
        • Average Frequency: ~3.68 purchases  
        • Average Monetary: ~\$1353.63  
        • # of Customers in Cluster: 3,054  
        • % of Total Customers: 70.40%  
        
        Interpretation:  
            • "Recent Moderate Spenders":  
            • These customers have made a purchase relatively recently (within the last month and a half on average).  
            • They shop moderately frequently, with about 3-4 purchases on average.  
            • Their spending is moderate, averaging around $1353.63.  
            • This cluster makes up an majority of total customers.  
  
    Cluster 1:  
    ----------
        • Average Recency: ~247 days  
        • Average Frequency: ~1.55 purchases  
        • Average Monetary: ~$478.85  
        • # of Customers in Cluster: 1,067  
        • % of Total Customers: 24.59%  
        
        Interpretation:  
            • "Infrequent Low Spenders":  
            • These customers have not made a purchase in a long time (around 8 months on average).  
            • They shop infrequently, with only 1-2 purchases on average.  
            • Their spending is relatively low, averaging around $478.85.  
            • This cluster likely includes customers who may be at risk of churning or those who have only shopped a few times.  
  
    Cluster 2:  
    ----------
        • Average Recency: ~6.38 days  
        • Average Frequency: ~82.54 purchases  
        • Average Monetary: ~$127,188.00  
        • # of Customers in Cluster: 13  
        • % of Total Customers: 0.29%  
        
        Interpretation:  
            • "Loyal High Spenders":  
            • These customers are very recent shoppers, with their last purchase made within the last week.  
            • They shop very frequently, with over 82 purchases on average.  
            • Their spending is exceptionally high, averaging around $127,188.00.  
            • This cluster represents a very small minority of the total customer universe.  
  
    Cluster 3:  
    ----------
        • Average Recency: ~14.5 days  
        • Average Frequency: ~22.33 purchases  
        • Average Monetary: ~$12,690.50  
        • # of Customers in Cluster: 204  
        • % of Total Customers: 4.70%  
        
        Interpretation:  
            • "Frequent High Spenders":  
            • These customers have made a recent purchase, within the last two weeks on average.  
            • They shop frequently, with over 22 purchases on average.  
            • Their spending is high, averaging around $12,690.50.  
            • This cluster consists of loyal customers who shop frequently and spend a significant amount.  
</pre>

In [1]:
####################################################################################################
####################################################################################################

<pre>
(this is an excerpt of output generated by this code file)

###########################################
# Data Overview                           #
#   Invoice Data with 4 Customer Segments #
###########################################
Total Customer count:         4338
Total Record count:         392692
Total Invoice count:         18532

Customer Segment 0 - Recent Moderate Spenders:
 - Customers:                 3054  ( 70.40% )
 - Records:                 252200  ( 64.22% )
 - Invoices:                 11247  ( 60.69% )
 - average Recency:          42.70
 - average Frequency:         3.68
 - average Monetary:     $1,353.63

Customer Segment 1 - Infrequent Low Spenders:
 - Customers:                 1067  ( 24.60% )
 - Records:                  30170  (  7.68% )
 - Invoices:                  1656  (  8.94% )
 - average Recency:         247.08
 - average Frequency:         1.55
 - average Monetary:       $478.85

Customer Segment 2 - Loyal High Spenders:
 - Customers:                   13  (  0.30% )
 - Records:                  28097  (  7.15% )
 - Invoices:                  1073  (  5.79% )
 - average Recency:           6.38
 - average Frequency:        82.54
 - average Monetary:   $127,187.96

Customer Segment 3 - Frequent High Spenders:
 - Customers:                  204  (  4.70% )
 - Records:                  82225  ( 20.94% )
 - Invoices:                  4556  ( 24.58% )
 - average Recency:          14.50
 - average Frequency:        22.33
 - average Monetary:    $12,690.50
</pre>

In [2]:
####################################################################################################
####################################################################################################

In [3]:
##########
# PANDAS #
##########

In [4]:
import pandas as pd

In [5]:
# Read CSV files into Pandas DataFrames

df_invoice_details    = pd.read_csv('Resources/final_cleaned_data_table.csv')

df_customer_segment_0 = pd.read_csv('Resources/final_recent_moderate_spenders_customers_table.csv')
df_customer_segment_1 = pd.read_csv('Resources/final_infrequent_low_spenders_customers_table.csv')
df_customer_segment_2 = pd.read_csv('Resources/final_loyal_high_spenders_customers_table.csv')
df_customer_segment_3 = pd.read_csv('Resources/final_frequent_high_spenders_table.csv')

In [6]:
df_invoice_details.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Recency
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,373
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,373
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373

In [7]:
df_customer_segment_0.head()

   Recency  Frequency  Monetary  Cluster  CustomerID
0      1.0          7   4310.00        0     12347.0
1     74.0          4   1797.24        0     12348.0
2     18.0          1   1757.55        0     12349.0
3     35.0          8   2506.04        0     12352.0
4     22.0          3   2811.43        0     12356.0

In [8]:
df_customer_segment_1.head()

   Recency  Frequency  Monetary  Cluster  CustomerID
0      309          1     334.4        1     12350.0
1      203          1      89.0        1     12353.0
2      231          1    1079.4        1     12354.0
3      213          1     459.4        1     12355.0
4      286          1     189.9        1     12361.0

In [9]:
df_customer_segment_2.head()

   Recency  Frequency   Monetary  Cluster  CustomerID
0       23         21  124914.53        2     12415.0
1        0        209   33053.19        2     12748.0
2        2         97   58762.08        2     13089.0
3        9         55  117210.08        2     14156.0
4        1         73  280206.02        2     14646.0

In [10]:
df_customer_segment_3.head()

   Recency  Frequency  Monetary  Cluster  CustomerID
0    325.0        1.0  77183.60        3     12346.0
1     35.0       15.0   6419.95        3     12431.0
2      1.0       18.0   4951.41        3     12437.0
3      1.0       30.0  19788.65        3     12471.0
4     16.0       18.0   7324.09        3     12474.0

In [11]:
# per Customer, calculate RFM values (Recency,Frequency,Monetary)

df_customer_rfm = df_invoice_details.groupby('CustomerID').agg({
    'Recency': 'min',
    'InvoiceNo': 'nunique',  # Frequency
    'TotalPrice': 'sum'      # Monetary
}).reset_index()

# fix column names          CustomerID,   Recency,   InvoiceNo,   TotalPrice
df_customer_rfm.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

df_customer_rfm.head()

   CustomerID  Recency  Frequency  Monetary
0     12346.0      325          1  77183.60
1     12347.0        1          7   4310.00
2     12348.0       74          4   1797.24
3     12349.0       18          1   1757.55
4     12350.0      309          1    334.40

In [12]:
# Function to Display Info about the passed-in Customer Segment

def display_segment_info (segment_number, segment_text, customer_id_array_for_segment):

    df_filtered_customer_rfm = df_customer_rfm[df_customer_rfm['CustomerID'].isin(customer_id_array_for_segment)]
    
    segment_average_recency   = df_filtered_customer_rfm['Recency'].mean()
    segment_average_frequency = df_filtered_customer_rfm['Frequency'].mean()
    segment_average_monetary  = df_filtered_customer_rfm['Monetary'].mean()

    segment_average_monetary_str = f"${segment_average_monetary :,.2f}"

    df_filtered_invoice_details = df_invoice_details[df_invoice_details['CustomerID'].isin(customer_id_array_for_segment)]
    
    segment_customers = df_filtered_invoice_details['CustomerID'].nunique()
    segment_records   = df_filtered_invoice_details.shape[0]
    segment_invoices  = df_filtered_invoice_details['InvoiceNo'].nunique()

    print(f"Customer Segment {segment_number} - {segment_text}:")
    print(f" - Customers:         {segment_customers :>12}  ( { (segment_customers / total_customers) * 100 :5.2f}% )")
    print(f" - Records:           {segment_records   :>12}  ( { (segment_records   / total_records  ) * 100 :5.2f}% )")
    print(f" - Invoices:          {segment_invoices  :>12}  ( { (segment_invoices  / total_invoices ) * 100 :5.2f}% )")
    print(f" - average Recency:   {segment_average_recency :12.2f}")
    print(f" - average Frequency: {segment_average_frequency :12.2f}")
    print(f" - average Monetary:  {segment_average_monetary_str :>12}")
    print()

In [13]:
# Total Calculations
total_customers = df_invoice_details['CustomerID'].nunique()
total_records   = df_invoice_details.shape[0]
total_invoices  = df_invoice_details['InvoiceNo'].nunique()

In [14]:
# Customer Segment Definitions ( Clusters )
segment_0_code = 0
segment_1_code = 1
segment_2_code = 2
segment_3_code = 3

segment_0_description = "Recent Moderate Spenders"
segment_1_description = "Infrequent Low Spenders"
segment_2_description = "Loyal High Spenders"
segment_3_description = "Frequent High Spenders"

segment_0_customer_id_array = df_customer_segment_0['CustomerID'].unique()
segment_1_customer_id_array = df_customer_segment_1['CustomerID'].unique()
segment_2_customer_id_array = df_customer_segment_2['CustomerID'].unique()
segment_3_customer_id_array = df_customer_segment_3['CustomerID'].unique()

In [15]:

###############
# INTERESTING #
###############

# Display Totals and Info for All Segments

print("###########################################")
print("# Data Overview                           #")
print("#   Invoice Data with 4 Customer Segments #")
print("###########################################\n")

print(f"Total Customer count: { total_customers :>12}")
print(f"Total Record count:   { total_records   :>12}")
print(f"Total Invoice count:  { total_invoices  :>12}")
print()

display_segment_info(segment_0_code, segment_0_description, segment_0_customer_id_array)
display_segment_info(segment_1_code, segment_1_description, segment_1_customer_id_array)
display_segment_info(segment_2_code, segment_2_description, segment_2_customer_id_array)
display_segment_info(segment_3_code, segment_3_description, segment_3_customer_id_array)

###########################################
# Data Overview                           #
#   Invoice Data with 4 Customer Segments #
###########################################

Total Customer count:         4338
Total Record count:         392692
Total Invoice count:         18532

Customer Segment 0 - Recent Moderate Spenders:
 - Customers:                 3054  ( 70.40% )
 - Records:                 252200  ( 64.22% )
 - Invoices:                 11247  ( 60.69% )
 - average Recency:          42.70
 - average Frequency:         3.68
 - average Monetary:     $1,353.63

Customer Segment 1 - Infrequent Low Spenders:
 - Customers:                 1067  ( 24.60% )
 - Records:                  30170  (  7.68% )
 - Invoices:                  1656  (  8.94% )
 - average Recency:         247.08
 - average Frequency:         1.55
 - average Monetary:       $478.85

Customer Segment 2 - Loyal High Spenders:
 - Customers:                   13  (  0.30% )
 - Records:                  28097  (  7.15% )
 - Invoices:                  1073  (  5.79% )
 - average Recency:           6.38
 - average Frequency:        82.54
 - average Monetary:   $127,187.96

Customer Segment 3 - Frequent High Spenders:
 - Customers:                  204  (  4.70% )
 - Records:                  82225  ( 20.94% )
 - Invoices:                  4556  ( 24.58% )
 - average Recency:          14.50
 - average Frequency:        22.33
 - average Monetary:    $12,690.50

In [16]:
####################################################################################################
####################################################################################################

In [17]:
#########
# SPARK #
#########

In [18]:
# Import findspark and initialize. 
import findspark
findspark.init()

# Import packages
from pyspark.sql import SparkSession

# Import necessary functions from pyspark.sql.functions
from pyspark.sql.functions import round, count
from pyspark.sql.functions import coalesce, col, lit

# max, min, 

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [19]:
# Read CSV files into Spark DataFrames

sdf_invoice_details    = spark.read.csv('Resources/final_cleaned_data_table.csv', header=True, inferSchema=True)

sdf_customer_segment_0 = spark.read.csv('Resources/final_recent_moderate_spenders_customers_table.csv', header=True, inferSchema=True)
sdf_customer_segment_1 = spark.read.csv('Resources/final_infrequent_low_spenders_customers_table.csv',  header=True, inferSchema=True)
sdf_customer_segment_2 = spark.read.csv('Resources/final_loyal_high_spenders_customers_table.csv',      header=True, inferSchema=True)
sdf_customer_segment_3 = spark.read.csv('Resources/final_frequent_high_spenders_table.csv',             header=True, inferSchema=True)

In [20]:
# # Display the DataFrames
# sdf_invoice_details.show()
# sdf_customer_segment_0.show()
# sdf_customer_segment_1.show()
# sdf_customer_segment_2.show()
# sdf_customer_segment_3.show()

In [21]:
# Clean up sdf_invoice_details

# Round the TotalPrice column to 2 decimal places
sdf_invoice_details = sdf_invoice_details.withColumn("TotalPrice", round(sdf_invoice_details["TotalPrice"], 2))

In [22]:
# Clean up the sdf_customer_segment_# files

# Round the Recency, Frequency, Monetary columns to 2 decimal places
sdf_customer_segment_0 = sdf_customer_segment_0.withColumn("Recency",   round(sdf_customer_segment_0["Recency"],  2))
sdf_customer_segment_0 = sdf_customer_segment_0.withColumn("Frequency", round(sdf_customer_segment_0["Frequency"], 2))
sdf_customer_segment_0 = sdf_customer_segment_0.withColumn("Monetary",  round(sdf_customer_segment_0["Monetary"], 2))
sdf_customer_segment_1 = sdf_customer_segment_1.withColumn("Recency",   round(sdf_customer_segment_1["Recency"],  2))
sdf_customer_segment_1 = sdf_customer_segment_1.withColumn("Frequency", round(sdf_customer_segment_1["Frequency"], 2))
sdf_customer_segment_1 = sdf_customer_segment_1.withColumn("Monetary",  round(sdf_customer_segment_1["Monetary"], 2))
sdf_customer_segment_2 = sdf_customer_segment_2.withColumn("Recency",   round(sdf_customer_segment_2["Recency"],  2))
sdf_customer_segment_2 = sdf_customer_segment_2.withColumn("Frequency", round(sdf_customer_segment_2["Frequency"], 2))
sdf_customer_segment_2 = sdf_customer_segment_2.withColumn("Monetary",  round(sdf_customer_segment_2["Monetary"], 2))
sdf_customer_segment_3 = sdf_customer_segment_3.withColumn("Recency",   round(sdf_customer_segment_3["Recency"],  2))
sdf_customer_segment_3 = sdf_customer_segment_3.withColumn("Frequency", round(sdf_customer_segment_3["Monetary"], 2))
sdf_customer_segment_3 = sdf_customer_segment_3.withColumn("Monetary",  round(sdf_customer_segment_3["Monetary"], 2))

In [23]:
# # Display the DataFrames
# sdf_invoice_details.show()
# sdf_customer_segment_0.show()
# sdf_customer_segment_1.show()
# sdf_customer_segment_2.show()
# sdf_customer_segment_3.show()

In [24]:
# # Display the Schema Info
# sdf_invoice_details.printSchema()
# sdf_customer_segment_0.printSchema()
# sdf_customer_segment_1.printSchema()
# sdf_customer_segment_2.printSchema()
# sdf_customer_segment_3.printSchema()

In [25]:
####################################################################################################
####################################################################################################

In [26]:
############################################
# MERGE THE INVOICE DETAILS DATAFRAMES     #
#  AND THE 4 CUSTOMER SEGMENT DATAFRAMES   #
#  INTO A FINAL EXPANDED INVOICE DATAFRAME #
############################################

In [27]:
# Copy spark dataframes ... keep original as-is , and use copy for the tasks that follow ...
sdf_invoices = sdf_invoice_details
sdf_subgroup1 = sdf_customer_segment_0
sdf_subgroup2 = sdf_customer_segment_1
sdf_subgroup3 = sdf_customer_segment_2
sdf_subgroup4 = sdf_customer_segment_3

In [28]:
# # Display the DataFrames
# sdf_invoices.show()
# sdf_subgroup1.show()
# sdf_subgroup2.show()
# sdf_subgroup3.show()
# sdf_subgroup4.show()

In [29]:
# # Display the Schema Info
# sdf_invoices.printSchema()
# sdf_subgroup1.printSchema()
# sdf_subgroup2.printSchema()
# sdf_subgroup3.printSchema()
# sdf_subgroup4.printSchema()

In [30]:
# Rename current 'Recency' column to be 'Recency_original'
sdf_invoices = sdf_invoices.withColumnRenamed('Recency', 'Recency_original')

# Add new empty columns for 'Cluster', 'Recency', 'Frequency', and 'Monetary'
sdf_invoices = sdf_invoices.withColumn('Cluster',   lit(None).cast('integer'))
sdf_invoices = sdf_invoices.withColumn('Recency',   lit(None).cast('double'))
sdf_invoices = sdf_invoices.withColumn('Frequency', lit(None).cast('double'))
sdf_invoices = sdf_invoices.withColumn('Monetary',  lit(None).cast('double'))

In [31]:
# # Display the DataFrames
# sdf_invoices.show()
# sdf_subgroup1.show()
# sdf_subgroup2.show()
# sdf_subgroup3.show()
# sdf_subgroup4.show()

In [32]:
# # Display the Schema Info
# sdf_invoices.printSchema()
# sdf_subgroup1.printSchema()
# sdf_subgroup2.printSchema()
# sdf_subgroup3.printSchema()
# sdf_subgroup4.printSchema()

In [33]:
# Add Info from each sdf_subgroup# datframe into the new columns within the sdf_invoices dataframe

# Step 2: Perform a left join with 'sdf_subgroup1'
joined_sdf_subgroup1 = sdf_invoices.join(
    sdf_subgroup1.select('CustomerID', 'Cluster', 'Recency', 'Frequency', 'Monetary')
                        .withColumnRenamed('Cluster',   'Cluster_subgroup1')
                        .withColumnRenamed('Recency',   'Recency_subgroup1')
                        .withColumnRenamed('Frequency', 'Frequency_subgroup1')
                        .withColumnRenamed('Monetary',  'Monetary_subgroup1'),
    on='CustomerID',
    how='left'
)

# Step 3: Perform a left join with 'sdf_subgroup2'
joined_sdf_subgroup2 = joined_sdf_subgroup1.join(
    sdf_subgroup2.select('CustomerID', 'Cluster', 'Recency', 'Frequency', 'Monetary')
                        .withColumnRenamed('Cluster',   'Cluster_subgroup2')
                        .withColumnRenamed('Recency',   'Recency_subgroup2')
                        .withColumnRenamed('Frequency', 'Frequency_subgroup2')
                        .withColumnRenamed('Monetary',  'Monetary_subgroup2'),
    on='CustomerID',
    how='left'
)

# Step 4: Perform a left join with 'sdf_subgroup3'
joined_sdf_subgroup3 = joined_sdf_subgroup2.join(
    sdf_subgroup3.select('CustomerID', 'Cluster', 'Recency', 'Frequency', 'Monetary')
                        .withColumnRenamed('Cluster',   'Cluster_subgroup3')
                        .withColumnRenamed('Recency',   'Recency_subgroup3')
                        .withColumnRenamed('Frequency', 'Frequency_subgroup3')
                        .withColumnRenamed('Monetary',  'Monetary_subgroup3'),
    on='CustomerID',
    how='left'
)

# Step 5: Perform a left join with 'sdf_subgroup4'
joined_sdf_subgroup4 = joined_sdf_subgroup3.join(
    sdf_subgroup4.select('CustomerID', 'Cluster', 'Recency', 'Frequency', 'Monetary')
                        .withColumnRenamed('Cluster',   'Cluster_subgroup4')
                        .withColumnRenamed('Recency',   'Recency_subgroup4')
                        .withColumnRenamed('Frequency', 'Frequency_subgroup4')
                        .withColumnRenamed('Monetary',  'Monetary_subgroup4'),
    on='CustomerID',
    how='left'
)

# Step 6: Update the columns with the values from the sdf_subgroups
sdf_invoices_final = joined_sdf_subgroup4.withColumn(
    'Cluster',
    coalesce(col('Cluster_subgroup1'), col('Cluster_subgroup2'), col('Cluster_subgroup3'), col('Cluster_subgroup4'))
).withColumn(
    'Recency',
    coalesce(col('Recency_subgroup1'), col('Recency_subgroup2'), col('Recency_subgroup3'), col('Recency_subgroup4'))
).withColumn(
    'Frequency',
    coalesce(col('Frequency_subgroup1'), col('Frequency_subgroup2'), col('Frequency_subgroup3'), col('Frequency_subgroup4'))
).withColumn(
    'Monetary',
    coalesce(col('Monetary_subgroup1'), col('Monetary_subgroup2'), col('Monetary_subgroup3'), col('Monetary_subgroup4'))
).drop(
    'Cluster_subgroup1',   'Cluster_subgroup2',   'Cluster_subgroup3',   'Cluster_subgroup4',
    'Recency_subgroup1',   'Recency_subgroup2',   'Recency_subgroup3',   'Recency_subgroup4',
    'Frequency_subgroup1', 'Frequency_subgroup2', 'Frequency_subgroup3', 'Frequency_subgroup4',
    'Monetary_subgroup1',  'Monetary_subgroup2',  'Monetary_subgroup3',  'Monetary_subgroup4'
)  # Drop temporary columns

In [34]:
# # Show the DataFrame
# sdf_invoices_final.show()

In [35]:
# # Display the Schema Info
# sdf_invoices_final.printSchema()

In [36]:
print(f"Group 1 (Cluster 0) - Record Count: {sdf_invoices_final.filter( col('Cluster')==0 ).count()}")
print(f"Group 2 (Cluster 1) - Record Count: {sdf_invoices_final.filter( col('Cluster')==1 ).count()}")
print(f"Group 3 (Cluster 2) - Record Count: {sdf_invoices_final.filter( col('Cluster')==2 ).count()}")
print(f"Group 4 (Cluster 3) - Record Count: {sdf_invoices_final.filter( col('Cluster')==3 ).count()}")

Group 1 (Cluster 0) - Record Count: 252200
Group 2 (Cluster 1) - Record Count: 30170
Group 3 (Cluster 2) - Record Count: 28097
Group 4 (Cluster 3) - Record Count: 82225

In [37]:
####################################################################################################
####################################################################################################

In [38]:
######################################################
# MAKING USE OF THE FINAL EXPANDED INVOICE DATAFRAME #
######################################################

In [39]:
# from pyspark.sql.functions import avg
# from pyspark.sql.functions import to_date, date_format

from pyspark.sql.functions import sum
from pyspark.sql.functions import first, desc
from pyspark.sql.functions import row_number
from pyspark.sql.functions import format_number
from pyspark.sql.window import Window

In [40]:

###############
# INTERESTING #
###############

# Add a Description to the product_preference DataFrame
product_preference_with_description = sdf_invoices_final.groupBy("Cluster", "StockCode").agg(
    first("Description").alias("Description"),  # Use first() to get a generic Description
    sum("Quantity").alias("Total_Quantity"),
    sum("TotalPrice").alias("Total_Revenue")
)

# Define the window specification for ranking items within each Cluster by Total_Quantity
window_spec = Window.partitionBy("Cluster").orderBy(desc("Total_Quantity"))

# Add a row number to each row within each Cluster partition
ranked_product_preference = product_preference_with_description.withColumn(
    "Rank",
    row_number().over(window_spec)
)

# Filter to keep only the top 10 items per Cluster
top_10_per_cluster = ranked_product_preference.filter(col("Rank") <= 10)


# Show the results
# top_10_per_cluster.show(50)
# top_10_per_cluster.show(50, truncate=False)


# Format the Total_Revenue column to 2 decimal places
formatted_df = top_10_per_cluster.withColumn(
    "Total_Revenue",
    format_number("Total_Revenue", 2)
)

print("##########################################")
print("# Top 10 Items by Quantity , per Cluster #")
print("##########################################\n")

# Show the results with formatted Total_Revenue
formatted_df.show(50, truncate=False)

##########################################
# Top 10 Items by Quantity , per Cluster #
##########################################

+-------+---------+----------------------------------+--------------+-------------+----+
|Cluster|StockCode|Description                       |Total_Quantity|Total_Revenue|Rank|
+-------+---------+----------------------------------+--------------+-------------+----+
|0      |84077    |WORLD WAR 2 GLIDERS ASSTD DESIGNS |22097         |6,085.57     |1   |
|0      |85099B   |JUMBO BAG RED RETROSPOT           |18184         |34,931.68    |2   |
|0      |84879    |ASSORTED COLOUR BIRD ORNAMENT     |16719         |27,563.91    |3   |
|0      |21212    |PACK OF 72 RETROSPOT CAKE CASES   |16712         |8,280.08     |4   |
|0      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|13503         |37,464.65    |5   |
|0      |22197    |SMALL POPCORN HOLDER              |13183         |10,490.55    |6   |
|0      |16014    |SMALL CHINESE STYLE SCISSOR       |13084         |4,233.28     |7   |
|0      |23084    |RABBIT NIGHT LIGHT                |12339         |22,884.31    |8   |
|0      |21977    |PACK OF 60 PINK PAISLEY CAKE CASES|10453         |5,128.75     |9   |
|0      |84991    |60 TEATIME FAIRY CAKE CASES       |10062         |4,847.94     |10  |
|1      |84077    |WORLD WAR 2 GLIDERS ASSTD DESIGNS |5473          |1,178.21     |1   |
|1      |22197    |SMALL POPCORN HOLDER              |5128          |3,760.80     |2   |
|1      |15036    |ASSORTED COLOURS SILK FAN         |3860          |2,646.36     |3   |
|1      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|2241          |6,225.35     |4   |
|1      |22492    |MINI PAINT SET VINTAGE            |2197          |1,370.45     |5   |
|1      |21212    |PACK OF 72 RETROSPOT CAKE CASES   |1890          |977.10       |6   |
|1      |21915    |RED  HARMONICA IN BOX             |1831          |2,022.75     |7   |
|1      |84879    |ASSORTED COLOUR BIRD ORNAMENT     |1762          |2,977.78     |8   |
|1      |22328    |ROUND SNACK BOXES SET OF 4 FRUITS |1652          |4,278.20     |9   |
|1      |17003    |BROCADE RING PURSE                |1570          |409.22       |10  |
|2      |23843    |PAPER CRAFT   LITTLE BIRDIE       |80995         |168,469.60   |1   |
|2      |85099B   |JUMBO BAG RED RETROSPOT           |7573          |13,239.93    |2   |
|2      |21212    |PACK OF 72 RETROSPOT CAKE CASES   |6772          |2,991.40     |3   |
|2      |23084    |RABBIT NIGHT LIGHT                |6529          |12,696.40    |4   |
|2      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|6503          |19,522.19    |5   |
|2      |22629    |SPACEBOY LUNCH BOX                |6214          |10,350.90    |6   |
|2      |22469    |HEART OF WICKER SMALL             |6199          |11,497.28    |7   |
|2      |22189    |CREAM HEART CARD HOLDER           |6006          |14,326.90    |8   |
|2      |22630    |DOLLY GIRL LUNCH BOX              |5907          |9,829.05     |9   |
|2      |22492    |MINI PAINT SET VINTAGE            |5328          |3,002.40     |10  |
|3      |23166    |MEDIUM CERAMIC TOP STORAGE JAR    |75081         |78,135.06    |1   |
|3      |22197    |SMALL POPCORN HOLDER              |27002         |20,049.58    |2   |
|3      |84077    |WORLD WAR 2 GLIDERS ASSTD DESIGNS |25597         |5,960.55     |3   |
|3      |85099B   |JUMBO BAG RED RETROSPOT           |19242         |34,857.97    |4   |
|3      |22616    |PACK OF 12 LONDON TISSUES         |15189         |4,335.77     |5   |
|3      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|14516         |37,335.26    |6   |
|3      |84879    |ASSORTED COLOUR BIRD ORNAMENT     |14219         |21,935.39    |7   |
|3      |17003    |BROCADE RING PURSE                |11333         |2,747.57     |8   |
|3      |21915    |RED  HARMONICA IN BOX             |11209         |12,308.43    |9   |
|3      |21977    |PACK OF 60 PINK PAISLEY CAKE CASES|11025         |5,155.85     |10  |
+-------+---------+----------------------------------+--------------+-------------+----+

In [41]:

###############
# INTERESTING #
###############

# Add a Description to the product_preference DataFrame
product_preference_with_description = sdf_invoices_final.groupBy("Cluster", "StockCode").agg(
    first("Description").alias("Description"),  # Use first() to get a generic Description
    sum("Quantity").alias("Total_Quantity"),
    sum("TotalPrice").alias("Total_Revenue")
)

# Define the window specification for ranking items within each Cluster
window_spec = Window.partitionBy("Cluster").orderBy(desc("Total_Revenue"))

# Add a row number to each row within each Cluster partition
ranked_product_preference = product_preference_with_description.withColumn(
    "Rank",
    row_number().over(window_spec)
)

# Filter to keep only the top 10 items per Cluster
top_10_per_cluster = ranked_product_preference.filter(col("Rank") <= 10)


# Show the results
# top_10_per_cluster.show(50)
# top_10_per_cluster.show(50, truncate=False)


# Format the Total_Revenue column to 2 decimal places
formatted_df = top_10_per_cluster.withColumn(
    "Total_Revenue",
    format_number("Total_Revenue", 2)
)

print("#########################################")
print("# Top 10 Items by Revenue , per Cluster #")
print("#########################################\n")

# Show the results with formatted Total_Revenue
formatted_df.show(50, truncate=False)

#########################################
# Top 10 Items by Revenue , per Cluster #
#########################################

+-------+---------+-----------------------------------+--------------+-------------+----+
|Cluster|StockCode|Description                        |Total_Quantity|Total_Revenue|Rank|
+-------+---------+-----------------------------------+--------------+-------------+----+
|0      |POST     |POSTAGE                            |2128          |47,522.77    |1   |
|0      |22423    |REGENCY CAKESTAND 3 TIER           |3950          |47,104.60    |2   |
|0      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |13503         |37,464.65    |3   |
|0      |85099B   |JUMBO BAG RED RETROSPOT            |18184         |34,931.68    |4   |
|0      |47566    |PARTY BUNTING                      |7514          |34,556.70    |5   |
|0      |84879    |ASSORTED COLOUR BIRD ORNAMENT      |16719         |27,563.91    |6   |
|0      |22086    |PAPER CHAIN KIT 50'S CHRISTMAS     |8525          |23,548.75    |7   |
|0      |M        |Manual                             |1037          |23,178.40    |8   |
|0      |23084    |RABBIT NIGHT LIGHT                 |12339         |22,884.31    |9   |
|0      |23298    |SPOTTY BUNTING                     |3857          |18,404.15    |10  |
|1      |22423    |REGENCY CAKESTAND 3 TIER           |802           |9,591.90     |1   |
|1      |POST     |POSTAGE                            |213           |6,264.94     |2   |
|1      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |2241          |6,225.35     |3   |
|1      |47566    |PARTY BUNTING                      |1202          |5,588.90     |4   |
|1      |22328    |ROUND SNACK BOXES SET OF 4 FRUITS  |1652          |4,278.20     |5   |
|1      |22197    |SMALL POPCORN HOLDER               |5128          |3,760.80     |6   |
|1      |22960    |JAM MAKING SET WITH JARS           |784           |3,134.00     |7   |
|1      |21621    |VINTAGE UNION JACK BUNTING         |387           |3,027.00     |8   |
|1      |84879    |ASSORTED COLOUR BIRD ORNAMENT      |1762          |2,977.78     |9   |
|1      |22084    |PAPER CHAIN KIT EMPIRE             |990           |2,664.50     |10  |
|2      |23843    |PAPER CRAFT   LITTLE BIRDIE        |80995         |168,469.60   |1   |
|2      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6503          |19,522.19    |2   |
|2      |82484    |WOOD BLACK BOARD ANT WHITE FINISH  |3545          |17,683.90    |3   |
|2      |21623    |VINTAGE UNION JACK MEMOBOARD       |2611          |16,701.53    |4   |
|2      |22423    |REGENCY CAKESTAND 3 TIER           |1401          |15,814.35    |5   |
|2      |22470    |HEART OF WICKER LARGE              |4688          |14,422.14    |6   |
|2      |22189    |CREAM HEART CARD HOLDER            |6006          |14,326.90    |7   |
|2      |85099B   |JUMBO BAG RED RETROSPOT            |7573          |13,239.93    |8   |
|2      |23243    |SET OF TEA COFFEE SUGAR TINS PANTRY|2768          |13,185.58    |9   |
|2      |23084    |RABBIT NIGHT LIGHT                 |6529          |12,696.40    |10  |
|3      |23166    |MEDIUM CERAMIC TOP STORAGE JAR     |75081         |78,135.06    |1   |
|3      |22423    |REGENCY CAKESTAND 3 TIER           |6221          |69,753.90    |2   |
|3      |22502    |PICNIC BASKET WICKER SMALL         |495           |41,949.80    |3   |
|3      |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |14516         |37,335.26    |4   |
|3      |85099B   |JUMBO BAG RED RETROSPOT            |19242         |34,857.97    |5   |
|3      |21137    |BLACK RECORD COVER FRAME           |7789          |26,577.92    |6   |
|3      |47566    |PARTY BUNTING                      |5255          |23,040.63    |7   |
|3      |M        |Manual                             |5487          |22,838.47    |8   |
|3      |84879    |ASSORTED COLOUR BIRD ORNAMENT      |14219         |21,935.39    |9   |
|3      |79321    |CHILLI LIGHTS                      |4199          |20,622.10    |10  |
+-------+---------+-----------------------------------+--------------+-------------+----+

In [42]:
####################################################################################################
####################################################################################################

In [43]:
##############################################
# MAKING USE OF A TEMPORARY SQL VIEW,        #
#  OVER THE FINAL EXPANDED INVOICE DATAFRAME #
##############################################

In [44]:
# Register the final DataFrame as a temporary SQL table if needed
sdf_invoices_final.createOrReplaceTempView('final_invoice_data_expanded_sql_view')

In [45]:

###############
# INTERESTING #
###############

# SQL query to list StockCodes associated with more than one Description
spark.sql("""
    SELECT StockCode, COUNT(DISTINCT Description) AS DescriptionCount
    FROM final_invoice_data_expanded_sql_view
    GROUP BY StockCode
    HAVING DescriptionCount > 1
""").createOrReplaceTempView("inconsistent_description_stockcodes")

print("#####################################")
print("# Inconsistent Product Descriptions #")
print("#####################################\n")

# Display unique instances of StockCode and Description for StockCodes with inconsistencies
spark.sql("""
    SELECT DISTINCT StockCode, Description
    FROM final_invoice_data_expanded_sql_view
    WHERE StockCode IN (SELECT StockCode FROM inconsistent_description_stockcodes)
    GROUP BY StockCode, Description
    ORDER BY StockCode
""").show(n=20, truncate=False)  # Set n to a higher number to display more rows

#####################################
# Inconsistent Product Descriptions #
#####################################

+---------+-----------------------------------+
|StockCode|Description                        |
+---------+-----------------------------------+
|16156L   |WRAP  CAROUSEL                     |
|16156L   |WRAP CAROUSEL                      |
|17107D   |FLOWER FAIRY 5 SUMMER B'DRAW LINERS|
|17107D   |FLOWER FAIRY 5 DRAWER LINERS       |
|17107D   |FLOWER FAIRY 5 SUMMER DRAW LINERS  |
|20622    |VIPPASSPORT COVER                  |
|20622    |VIP PASSPORT COVER                 |
|20725    |LUNCH BAG RED SPOTTY               |
|20725    |LUNCH BAG RED RETROSPOT            |
|20914    |SET/5 RED SPOTTY LID GLASS BOWLS   |
|20914    |SET/5 RED RETROSPOT LID GLASS BOWLS|
|21109    |LARGE CAKE TOWEL CHOCOLATE SPOTS   |
|21109    |LARGE CAKE TOWEL  CHOCOLATE SPOTS  |
|21112    |SWISS ROLL TOWEL  PINK  SPOTS      |
|21112    |SWISS ROLL TOWEL PINK  SPOTS       |
|21175    |GIN + TONIC DIET METAL SIGN        |
|21175    |GIN AND TONIC DIET METAL SIGN      |
|21232    |STRAWBERRY CERAMIC TRINKET BOX     |
|21232    |STRAWBERRY CERAMIC TRINKET POT     |
|21243    |PINK  POLKADOT PLATE               |
+---------+-----------------------------------+
only showing top 20 rows

In [46]:
# SQL query to list StockCodes associated with more than one UnitPrice
spark.sql("""
    SELECT StockCode, COUNT(DISTINCT UnitPrice) AS UnitPriceCount
    FROM final_invoice_data_expanded_sql_view
    GROUP BY StockCode
    HAVING UnitPriceCount > 1
""").createOrReplaceTempView("inconsistent_unitprice_stockcodes")

print("##################################################")
print("# Pricing Variations                             #")
print("#   ( Will Need Further Analysis to Understand ) #")
print("##################################################\n")

# Display unique instances of StockCode and UnitPrice for StockCodes with inconsistencies
spark.sql("""
    SELECT DISTINCT StockCode, UnitPrice
    FROM final_invoice_data_expanded_sql_view
    WHERE StockCode IN (SELECT StockCode FROM inconsistent_unitprice_stockcodes)
    GROUP BY StockCode, UnitPrice
    ORDER BY StockCode
""").show(n=20, truncate=False)  # Set n to a higher number to display more rows

##################################################
# Pricing Variations                             #
#   ( Will Need Further Analysis to Understand ) #
##################################################

+---------+---------+
|StockCode|UnitPrice|
+---------+---------+
|10080    |0.85     |
|10080    |0.39     |
|10125    |0.85     |
|10125    |0.42     |
|10133    |0.85     |
|10133    |0.42     |
|10135    |0.42     |
|10135    |1.25     |
|10135    |1.06     |
|10135    |2.46     |
|10135    |0.25     |
|11001    |1.69     |
|11001    |1.27     |
|11001    |3.29     |
|15034    |0.14     |
|15034    |0.07     |
|15036    |0.53     |
|15036    |0.65     |
|15036    |0.75     |
|15036    |0.83     |
+---------+---------+
only showing top 20 rows

In [47]:
####################################################################################################
####################################################################################################